{% if site.data.research %}
<section class="section research-section">
  <h2 class="section-title"><i class="fa fa-files-o "></i>Research</h2>

{% for research in site.data.research %}
  <div class="item">

    <div class="meta">

        <p>
        <div class="details">{{ research.authors }}, ({{ research.year }}). <a href="/media/{{ research.pdf }}.pdf"><strong style="font-size:18px;">{{ research.title }}</strong></a>, {{ research.journal }}, <a href=" https://doi.org/{{ research.doi }}">doi: {{ research.doi }}</a>, Note: {{ research.note }}
        </div>
        </p>

    </div><!--//meta-->

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
